<mat-sidenav-container class="main-container"> 
    <mat-sidenav #sidebarRef opened mode='side' [(opened)]='isSidebarOpen'> 
        <img class="user-profile" src="/assets/logo.png">
        <mat-divider [vertical]="false"></mat-divider>
        <!-- <h3>ADMIN</h3> -->
        <mat-list class="pointer">
            <mat-list-item (click)="openDashboard()"><mat-icon class="iconsidenav">dashboard</mat-icon> Dashboard </mat-list-item>
            <mat-list-item (click)="openNav1()"> <mat-icon class="iconsidenav">library_add</mat-icon>Barangay Payments </mat-list-item>
            <mat-list-item (click)="openNav2()"><mat-icon class="iconsidenav">payments</mat-icon> Barangay Expenses </mat-list-item><br>
            <mat-divider></mat-divider>
            <mat-list-item class="listprop"><mat-icon class="iconsideselected">archive</mat-icon> Archives </mat-list-item>
        </mat-list>
    </mat-sidenav>

  <mat-sidenav-content>


    <mat-toolbar>
        <button mat-icon-button (click) ="sidebarRef.toggle()">
            <mat-icon class="menuicon">menu</mat-icon>
        </button>Archives
        <div class="spacer"></div>
        <a mat-button>
            <img src="/assets/admin.png">
        </a>
        <a mat-button (click)="logout()">
            <mat-icon>logout</mat-icon>
        </a>
    </mat-toolbar>

    <mat-tab-group class="tabs-group" mat-stretch-tabs  animationDuration="500ms">
        <mat-tab>

            <ng-template mat-tab-label>
                <span>Checkup Payments</span>
            </ng-template>
            
            <div fxLayout="row" class="pending-style">
                
                <mat-form-field  class="dropdown" floatLabel="never" [style.visibility]="true ? 'hidden': 'visible'">
                    <mat-label>Pending</mat-label>
                    <mat-select #choosedValue1>
                        <mat-option value="pending">Pending</mat-option>
                        <mat-option value="paid">Paid</mat-option>
                    </mat-select>
                </mat-form-field>
                

                <mat-form-field class="example-form-field1">
                    <mat-label>Search Record...</mat-label>
                    <input matInput (keyup)="filterCheckups($event)" #input/>
                    <button mat-button matSuffix mat-icon-button aria-label="Clear">
                        <mat-icon style="font-size: 20px;" class="searchIcon">search</mat-icon>
                    </button>
                </mat-form-field>
            </div>

            <div class="example-container mat-elevation-z8">
                <table mat-table [dataSource]="checkupsDataSource">

                    <ng-container matColumnDef="pt_id">
                        <th mat-header-cell *matHeaderCellDef> No. </th>
                        <td mat-cell *matCellDef="let element"> {{element.pt_id}} </td>
                    </ng-container>

                    <ng-container matColumnDef="residents">
                        <th mat-header-cell *matHeaderCellDef> Name </th>
                        <td mat-cell *matCellDef="let element"> {{element.res_lname}}, {{element.res_fname}} {{element.res_mname}} </td>
                    </ng-container>

                    <ng-container matColumnDef="for">
                        <th mat-header-cell *matHeaderCellDef> Payment For </th>
                        <td mat-cell *matCellDef="let element">Checkup</td>
                    </ng-container>

                    <ng-container matColumnDef="amount">
                        <th mat-header-cell *matHeaderCellDef> Amount </th>
                        <td mat-cell *matCellDef="let element"> {{element.fld_amount}} </td>
                    </ng-container>

                    <ng-container matColumnDef="money recieved">
                        <th mat-header-cell *matHeaderCellDef> Payment Recieved </th>
                        <ng-container *matCellDef="let element">
                            <ng-container *ngIf="element.pt_isPayed === 1">
                                <td mat-cell> {{element.pt_money_recieved}} </td>
                            </ng-container>
                            <ng-container *ngIf="element.pt_isPayed === 0">
                                <td mat-cell style="color: red"> Unpaid </td>
                            </ng-container>
                        </ng-container>
                    </ng-container>

                    <ng-container matColumnDef="date">
                        <th mat-header-cell *matHeaderCellDef> Date </th>
                        <td mat-cell *matCellDef="let element"> {{element.pt_date}} </td>
                    </ng-container>

                    <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef> Action </th>
                        <td mat-cell *matCellDef="let element">
                            <button class="viewBtn" (click)="viewRecord(element?.pt_id, 'checkup')" mat-raised-button color="primary">View</button>
                            <!-- <button class="dlteBtn" (click)="removeRecord(element?.pt_id, 'checkup')" mat-raised-button color="primary">Archive</button> -->
                            <!-- <ng-container *ngIf="element?.pt_isPayed === 1">
                                <button class="payBtn" (click)="payData(element?.pt_id)" mat-raised-button color="primary" [style.visibility]="true ? 'hidden': 'visible'">Process</button>
                            </ng-container> -->
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true;"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <mat-paginator [pageSizeOptions]="[10, 20, 30]"></mat-paginator>
            </div>
        </mat-tab>

        <mat-tab>
            <ng-template mat-tab-label>
                <span>Document Payments</span>
            </ng-template>
            
            
            <div fxLayout="row" class="pending-style">
                
                <mat-form-field  class="dropdown" floatLabel="never" [style.visibility]="true ? 'hidden': 'visible'">
                    <mat-label>Pending</mat-label>
                    <mat-select #choosedValue1>
                        <mat-option value="pending">Pending</mat-option>
                        <mat-option value="paid">Paid</mat-option>
                    </mat-select>
                </mat-form-field>
                

                <mat-form-field class="example-form-field1">
                    <mat-label>Search Record...</mat-label>
                    <input matInput (keyup)="filterDocuments($event)" #input/>
                    <button mat-button matSuffix mat-icon-button aria-label="Clear">
                        <mat-icon style="font-size: 20px;" class="searchIcon">search</mat-icon>
                    </button>
                </mat-form-field>
            </div>

    
            <div class="example-container mat-elevation-z8">
                <table mat-table [dataSource]="documentsDataSource">
                            
        
                    <ng-container matColumnDef="pt_id">
                    <th mat-header-cell *matHeaderCellDef> No. </th>
                    <td mat-cell *matCellDef="let element"> {{element.pt_id}} </td>
                    </ng-container>
                
                    <ng-container matColumnDef="residents">
                    <th mat-header-cell *matHeaderCellDef> Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.res_lname}}, {{element.res_fname}} {{element.res_mname}} </td>
                    </ng-container>
                
                    <ng-container matColumnDef="for">
                    <th mat-header-cell *matHeaderCellDef> Payment For </th>
                    <td mat-cell *matCellDef="let element"> {{element.docu_type}} </td>
                    </ng-container>
            
                    <ng-container matColumnDef="amount">
                    <th mat-header-cell *matHeaderCellDef> Amount </th>
                    <td mat-cell *matCellDef="let element"> {{element.docu_prc}} </td>
                    </ng-container>
    
                    <ng-container matColumnDef="money recieved">
                    <th mat-header-cell *matHeaderCellDef> Payment Recieved </th>
                    <ng-container *matCellDef="let element">
                        <ng-container *ngIf="element.pt_isPayed === 1">
                            <td mat-cell> {{element.pt_money_recieved}} </td>
                        </ng-container>
                        <ng-container *ngIf="element.pt_isPayed === 0">
                            <td mat-cell style="color: red"> Unpaid </td>
                        </ng-container>
                    </ng-container>
                    </ng-container>
                
                    <ng-container matColumnDef="date">
                    <th mat-header-cell *matHeaderCellDef> Date </th>
                    <td mat-cell *matCellDef="let element"> {{element.pt_date}} </td>
                    </ng-container>
                    
                    <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef> Action </th>
                        <td mat-cell *matCellDef="let element">
                            <button class="viewBtn" (click)="viewRecord(element?.pt_id, 'transaction')" mat-raised-button color="primary">View</button>
                            <!-- <button class="dlteBtn" (click)="removeRecord(element?.pt_id, 'transaction')" mat-raised-button color="primary">Archive</button> -->
                            <!-- <ng-container *ngIf="element?.pt_isPayed === 1">
                                <button class="payBtn" (click)="payData(element?.pt_id)" mat-raised-button color="primary" [style.visibility]="true ? 'hidden': 'visible'">Process</button>
                            </ng-container> -->
                        </td>
                    </ng-container>
            
                    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true;"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <mat-paginator [pageSizeOptions]="[10, 20, 30]"></mat-paginator>
                </div>
            
        </mat-tab>

        

        <mat-tab>
            <ng-template mat-tab-label>
                <span>Order Payments</span>
            </ng-template>
            
         
            
            <div fxLayout="row" class="pending-style">
                
                <mat-form-field  class="dropdown" floatLabel="never" [style.visibility]="true ? 'hidden': 'visible'">
                    <mat-label>Pending</mat-label>
                    <mat-select #choosedValue1>
                        <mat-option value="pending">Pending</mat-option>
                        <mat-option value="paid">Paid</mat-option>
                    </mat-select>
                </mat-form-field>
                

                <mat-form-field class="example-form-field1">
                    <mat-label>Search Record...</mat-label>
                    <input matInput (keyup)="filterOrders($event)" #input/>
                    <button mat-button matSuffix mat-icon-button aria-label="Clear">
                        <mat-icon style="font-size: 20px;" class="searchIcon">search</mat-icon>
                    </button>
                </mat-form-field>
            </div>

    
    
            <div class="example-container mat-elevation-z8">
                <table mat-table [dataSource]="ordersDataSource">
                    <ng-container matColumnDef="pt_id">
                        <th mat-header-cell *matHeaderCellDef> No. </th>
                        <td mat-cell *matCellDef="let element"> {{element.pt_id}} </td>
                    </ng-container>
                
                    <ng-container matColumnDef="medicine">
                        <th mat-header-cell *matHeaderCellDef> Medicine </th>
                        <td mat-cell *matCellDef="let element"> {{element.med_name}}</td>
                    </ng-container>
            
                    <ng-container matColumnDef="quantity">
                        <th mat-header-cell *matHeaderCellDef> Quantity </th>
                        <td mat-cell *matCellDef="let element"> {{element.fld_totalQuantity}} </td>
                    </ng-container>
            
                    <ng-container matColumnDef="amount">
                        <th mat-header-cell *matHeaderCellDef> Amount </th>
                        <td mat-cell *matCellDef="let element"> {{element.fld_totalAmount}} </td>
                    </ng-container>
    
                    <ng-container matColumnDef="money recieved">
                        <th mat-header-cell *matHeaderCellDef> Payment Recieved </th>
                        <ng-container *matCellDef="let element">
                            <ng-container *ngIf="element.pt_isPayed === 1">
                                <td mat-cell> {{element.pt_money_recieved}} </td>
                            </ng-container>
                            <ng-container *ngIf="element.pt_isPayed === 0">
                                <td mat-cell style="color: red"> Unpaid </td>
                            </ng-container>
                        </ng-container>
                    </ng-container>
                
                    <ng-container matColumnDef="date">
                        <th mat-header-cell *matHeaderCellDef> Date </th>
                        <td mat-cell *matCellDef="let element"> {{element.pt_date}} </td>
                    </ng-container>
                    
                    <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef> Action </th>
                        <td mat-cell *matCellDef="let element">
                            <button class="viewBtn" (click)="viewRecord(element?.pt_id, 'order')" mat-raised-button color="primary">View</button>
                            <!-- <button class="dlteBtn" (click)="removeRecord(element?.pt_id, 'order')" mat-raised-button color="primary">Archive</button> -->
                            <!-- <ng-container *ngIf="element?.pt_isPayed === 1">
                                <button class="payBtn" (click)="payData(element?.pt_id)" mat-raised-button color="primary" [style.visibility]="true ? 'hidden': 'visible'">Process</button>
                            </ng-container> -->
                        </td>
                    </ng-container>
            
                    <tr mat-header-row *matHeaderRowDef="displayedColumns3; sticky: true;"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns3;"></tr>
                </table>
                <mat-paginator [pageSizeOptions]="[10, 20, 30]"></mat-paginator>
                </div>
            
        </mat-tab>

        <mat-tab>
            <ng-template mat-tab-label>
                <span>Expenses Archive</span>
            </ng-template>
            
         
            
            <div fxLayout="row" class="pending-style">
                
                <mat-form-field  class="dropdown" floatLabel="never" [style.visibility]="true ? 'hidden': 'visible'">
                    <mat-label>Pending</mat-label>
                    <mat-select #choosedValue1>
                        <mat-option value="pending">Pending</mat-option>
                        <mat-option value="paid">Paid</mat-option>
                    </mat-select>
                </mat-form-field>
                

                <mat-form-field class="example-form-field1">
                    <mat-label>Search Record...</mat-label>
                    <input matInput (keyup)="filterExpenses($event)" #input/>
                    <button mat-button matSuffix mat-icon-button aria-label="Clear">
                        <mat-icon style="font-size: 20px;" class="searchIcon">search</mat-icon>
                    </button>
                </mat-form-field>
            </div>

            <div class="example-container mat-elevation-z8">
                <table mat-table [dataSource]="expensesArchiveDataSource">
                    <ng-container matColumnDef="exp_id">
                        <th mat-header-cell *matHeaderCellDef> No. </th>
                        <td mat-cell *matCellDef="let element"> {{element.exp_id}} </td>
                    </ng-container>
                
                    <ng-container matColumnDef="exp_name">
                        <th mat-header-cell *matHeaderCellDef> Given To </th>
                        <td mat-cell *matCellDef="let element"> {{element.person_fname}} {{element.person_mame}} {{element.person_lname}}</td>
                    </ng-container>
            
                    <ng-container matColumnDef="exp_for">
                        <th mat-header-cell *matHeaderCellDef> Used For </th>
                        <td mat-cell *matCellDef="let element"> {{element.exp_for}} </td>
                    </ng-container>
            
                    <ng-container matColumnDef="exp_money_release">
                        <th mat-header-cell *matHeaderCellDef> Budget Fee </th>
                        <td mat-cell *matCellDef="let element"> {{element.exp_money_release}} </td>
                    </ng-container>
    
                
                    <ng-container matColumnDef="exp_date">
                        <th mat-header-cell *matHeaderCellDef> Date </th>
                        <td mat-cell *matCellDef="let element"> {{element.exp_date}} </td>
                    </ng-container>
                    
                    <ng-container matColumnDef="exp_actions">
                        <th mat-header-cell *matHeaderCellDef> Action </th>
                        <td mat-cell *matCellDef="let element">
                            <button class="viewBtn" (click)="viewRecord(element?.exp_id, 'expenses')" mat-raised-button color="primary">View</button>
                            <!-- <button class="dlteBtn" (click)="removeRecord(element?.pt_id, 'order')" mat-raised-button color="primary">Archive</button> -->
                            <!-- <ng-container *ngIf="element?.pt_isPayed === 1">
                                <button class="payBtn" (click)="payData(element?.pt_id)" mat-raised-button color="primary" [style.visibility]="true ? 'hidden': 'visible'">Process</button>
                            </ng-container> -->
                        </td>
                    </ng-container>
            
                    <tr mat-header-row *matHeaderRowDef="displayedColumns4; sticky: true;"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns4;"></tr>
                </table>
                <mat-paginator [pageSizeOptions]="[10, 20, 30]"></mat-paginator>
                </div>
            
        </mat-tab>

    </mat-tab-group>

            
    </mat-sidenav-content>
    </mat-sidenav-container>
    