<div class="header">
    <mat-icon>add_box</mat-icon>
    <h2 mat-dialog-title>Pending Expenses</h2>
</div>
<mat-divider [vertical]="false"></mat-divider>
<mat-dialog-content class="mat-typography">
<br>
    <div fxLayout="row" class="tabs-style">
        <mat-form-field class="example-form-field1">
            <mat-label>Search</mat-label>
            <input matInput type="text">
            <button mat-button matSuffix mat-icon-button aria-label="Clear">
                <mat-icon class="searchi !important">search</mat-icon>
            </button>
        </mat-form-field>
    </div>
    <table>
        <thead>                    
            <th>Name</th>
        </thead>
        <tbody>
            <tr *ngFor="let item of residents">
                <td mat-dialog-close (click)="AddProject(item.res_id)"> {{item.res_lname}}, {{item.res_fname}} {{item.res_mname}} </td>
            </tr>
        </tbody>
    </table>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button class="modalBtn" mat-raised-button mat-dialog-close>Close</button>
</mat-dialog-actions>
