<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">

<div class="image">
    <img src="../../assets/ulo-ng-apo-web.jpeg" alt="" class="src"
      style="width: 200%; margin-left: -600px; margin-top: -70px ;">
  </div>
  <div class="forms-cont">
    <div class="form">
      <img src="../../assets/logo_SIA1.png" alt="" class="src" style=" width: 50%">
      <p class="title2">Log in first</p>
  
      <div class="form-input">
        <mat-icon class="input-icons">
            account_circle</mat-icon>
        <input [(ngModel)]="iUser" type="text" placeholder="Username" class="one">
      </div>
      <br>
      <div class="form-input">
        <mat-icon class="input-icons">lock
        </mat-icon>
        <input [(ngModel)]="iPass" [type]="hide ? 'password' : 'text'" placeholder="Password" class="one">
        <button mat-icon-button class="viewPasswordIcon">
          <mat-icon (click)="hide = !hide" matSuffix>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </div>
  
      <br>
      <button (click)="login()" mat-raised-button color="primary" class="button">LOGIN</button>
      <p class="fpassword">Forgot Password? <span class="click">Click here.</span></p>
    </div>
  </div>