@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');

.form {
  margin-top: 10%;
  text-align: center;
  width: 100%;
  display: flexbox;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

.image {
  position: relative;
  width: 55%;
  background-color: black;
  float: left;
  height: 100vh;
  overflow: hidden;
}

.forms-cont {
  background-color: white;
  width: 45%;
  float: right;
  height: 100vh;
}

.title2 {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;

}

.button {
  margin: 5px 0px 10px;
  padding: 5px 0px;
  width: 40%;
  outline: none;
  color: #fff;
  border-radius: 25px;
  background-color: #007cc7;
}

.one {
  background-color: #E8E8E8 !important;
  border-radius: 30px !important;
  border-style: none !important;
  color: gray !important;
  width: 50%;
  height: 55px;
  font-size: 16px;
  font-weight: bold;
  padding-left: 50px;
}

.click {
  color: #007cc7;
  cursor: pointer;
}

.form-input {
  position: relative;
}

.input-icons {
  position: absolute;
  font-size: 30px;
  color: #007cc7;
  left: 500px;
  margin-top: 12px;
  margin-left: -345px;
}
