<div class="image">
  <img src="../../assets/ulo-ng-apo-web.jpeg" alt="" class="src"
    style="width: 200%; margin-left: -600px; margin-top: -70px ;">
</div>
<div class="forms-cont">
  <div class="form">
    <img src="../../assets/logo_SIA1.png" alt="" class="src" style=" width: 50%">
    <p class="title2">Log in first</p>

    <input type="text" placeholder="Username" class="one" [(ngModel)]="usernameInput">
    <mat-icon style="position: absolute; font-size: 30px; color: #007cc7; margin-top: 12px; margin-left: -470px;">
      account_circle</mat-icon>

    <br><br>

    <input type="password" placeholder="Password" class="one" [(ngModel)]="passwordInput">
    <mat-icon style="position: absolute; font-size: 30px; color: #007cc7; margin-top: 12px; margin-left: -470px;">lock
    </mat-icon>

    <br><br>
    <button mat-raised-button color="primary" class="button" (click)="login()">Login</button>
    <br><br>
    <p class="fpassword">Forgot Password? <span class="click">Click here.</span></p>
  </div>
</div>