<div class="header">
    <mat-icon>add_box</mat-icon>
    <h2 mat-dialog-title>Update Expense Record</h2>
</div>

<mat-divider [vertical]="false"></mat-divider>
<mat-dialog-content class="mat-typography">

<br>
    <div class="modalFields">
        <mat-list role="list">
            <mat-list-item class="fieldNamesno"role="listitem">Expense For</mat-list-item>
        </mat-list>
        <div class="inputs">
            <mat-form-field appearance="outline">
                <input class="paymentInfo" matInput [(ngModel)]="expensesPayload.exp_for">
            </mat-form-field>
        </div>
    </div>


</mat-dialog-content>

<mat-dialog-actions align="end">
  <button class="modalBtn" mat-raised-button mat-dialog-close>Cancel</button>
  <button class="modalBtn1" (click)="updateExpenses()" mat-raised-button mat-dialog-close>Submit</button>
</mat-dialog-actions>
