<mat-sidenav-container class="main-container"> 
    <mat-sidenav #sidebarRef opened mode='side' [(opened)]='isSidebarOpen'> 
        <div style="color:black" class="side-bar-title">Welcome</div>

        <mat-list class="pointer">
            <mat-list-item style="color:black" (click)="openDashboard()"><mat-icon>dashboard</mat-icon> Dashboard </mat-list-item>
            <mat-list-item  style="color:black"(click)="openNav1()"> <mat-icon>library_add</mat-icon>Barangay Payments </mat-list-item>
            <mat-list-item  style="color:black"(click)="openNav2()"><mat-icon>view_list</mat-icon> Barangay Expenses </mat-list-item>
            <mat-list-item  style="color:black"(click)="sidebarRef.toggle()"><mat-icon>delete</mat-icon>  Wala pa </mat-list-item>
            <mat-list-item  style="color:black"(click)="openNav4()"> <mat-icon>delete</mat-icon>Wala pa </mat-list-item>
        </mat-list>
    </mat-sidenav>
    <mat-sidenav-content>
    <mat-toolbar  style="color:black" ><button mat-icon-button (click) ="sidebarRef.toggle()"><mat-icon >menu</mat-icon></button>Settings
    <div class="spacer"></div>
    <a mat-button><mat-icon>settings_applications</mat-icon>Settings</a>
    <a mat-button (click)="logout()"> <mat-icon>logout</mat-icon>Logout</a>
    </mat-toolbar>
</mat-sidenav-content>
</mat-sidenav-container>
     