<div class="header">
    <mat-icon>add_box</mat-icon>
    <h2 mat-dialog-title>Check Out</h2>
</div>

<mat-divider [vertical]="false"></mat-divider>
<mat-dialog-content class="mat-typography">

<br>
    <div class="modalFields">
        <mat-list role="list">
            <mat-list-item class="fieldNamesno" role="listitem">Payment Number</mat-list-item>
            <mat-list-item class="fieldNames" role="listitem">Name</mat-list-item>
            <mat-list-item class="fieldNames" role="listitem">Payment For</mat-list-item>
            <mat-list-item class="fieldNames" role="listitem">Subtotal</mat-list-item>
            <mat-list-item class="fieldNames" role="listitem">Tax</mat-list-item>
            <mat-list-item class="fieldNames" role="listitem">Total</mat-list-item>
            <mat-list-item class="fieldNames" role="listitem">Cash</mat-list-item>
            <mat-list-item class="fieldNames" role="listitem">Change</mat-list-item>
        </mat-list>


        <div class="inputs">
            <mat-form-field appearance="none">
            <input class="paymentInfo" matInput>
            </mat-form-field>
            <mat-form-field appearance="none">
            <input class="paymentInfo" matInput >
            </mat-form-field>
            <mat-form-field appearance="none">
            <input class="paymentInfo" matInput>
            </mat-form-field>
            <mat-form-field appearance="none">
            <input class="paymentInfo" matInput>
            </mat-form-field>
            <mat-form-field appearance="none">
            <input class="paymentInfo" matInput >
            </mat-form-field>
            <mat-form-field appearance="none">
            <input class="paymentInfo" matInput >
            </mat-form-field>
            <mat-form-field appearance="none">
            <input class="paymentInfo" matInput >
            </mat-form-field>
            <mat-form-field appearance="none">
            <input class="paymentInfo" matInput >
            </mat-form-field>
        </div>
    </div>


</mat-dialog-content>

<mat-dialog-actions align="end">
  <button class="modalBtn" mat-raised-button mat-dialog-close>Cancel</button>
  <button (click)="Confirmation()" class="modalBtn1" mat-raised-button>Confirm</button>
</mat-dialog-actions>
