<div class="header">
    <mat-icon>add_box</mat-icon>
    <h2 mat-dialog-title>Add Payment Record</h2>
</div>

<mat-divider [vertical]="false"></mat-divider>
<mat-dialog-content class="mat-typography">

<br>
    <div class="modalFields">
        <mat-list role="list">
            <mat-list-item class="fieldNamesno"role="listitem">Payment Number</mat-list-item>
            <mat-list-item class="fieldNames"role="listitem">First Name</mat-list-item>
            <mat-list-item class="fieldNames"role="listitem">Last Name</mat-list-item>
            <mat-list-item class="fieldNames"role="listitem">Middle Name</mat-list-item>
            <mat-list-item class="fieldNames"role="listitem">Contact Number</mat-list-item>
            <mat-list-item class="fieldNames"role="listitem">Address</mat-list-item>
            <mat-list-item class="fieldNames"role="listitem">Gender</mat-list-item>
        </mat-list>


        <div class="inputs">
            <mat-form-field appearance="outline">
            <input class="paymentInfo" matInput>
            </mat-form-field>
            <mat-form-field appearance="outline">
            <input class="paymentInfo" matInput>
            </mat-form-field>
            <mat-form-field appearance="outline">
            <input class="paymentInfo" matInput >
            </mat-form-field>
            <mat-form-field appearance="outline">
            <input class="paymentInfo" matInput >
            </mat-form-field>
            <mat-form-field appearance="outline">
            <input class="paymentInfo" matInput >
            </mat-form-field>
            <mat-form-field appearance="outline">
            <input class="paymentInfo" matInput >
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-select class="paymentInfo">
                <mat-option class="paitentInfo" value="one">Male</mat-option>
                <mat-option class="paitentInfo" value="two">Female</mat-option>
              </mat-select>
            </mat-form-field>
        </div>

        <mat-list role="list">
            <mat-list-item class="fieldNamesno"role="listitem">Payment For</mat-list-item>
            <mat-list-item class="fieldNames"role="listitem">Payment Receive</mat-list-item>
            <mat-list-item class="fieldNames"role="listitem">Purpose</mat-list-item>
        </mat-list>

        <div class="inputs2">
            <mat-form-field appearance="outline">
            <input class="paymentInfo" matInput >
            </mat-form-field>
            <mat-form-field appearance="outline">
            <input class="paymentInfo" matInput >
            </mat-form-field>
            <mat-form-field appearance="outline">
            <textarea class="paymentInfo" matInput rows="5"></textarea>
            </mat-form-field>
        </div>

    </div>


</mat-dialog-content>

<mat-dialog-actions align="end">
  <button class="modalBtn" mat-raised-button mat-dialog-close>Cancel</button>
  <button class="modalBtn1" mat-raised-button mat-dialog-close>Add</button>
</mat-dialog-actions>
