@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');
mat-sidenav-container
{
    height: 100%;
}

mat-list {
    font-family: 'Montserrat', sans-serif;
}

.logo-nav{
    margin-top: 20px;
    margin-left: 20px;
    height: 20px;
    width: 20px;
}

mat-sidenav
{
    background-color:#FFFAFA;
    width: 250px;
}

.main-container
{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #ffffff;
}

mat-sidenav
{
    padding: 12px;
}

.spacer
{
    flex: 1 1 auto;
}

mat-toolbar
{
    background-color: 	#FFFAFA;
    font-family: 'Montserrat', sans-serif;
    
}

mat-list
{
    margin-top: 150px;
}

a {
    font-family: 'Montserrat', sans-serif;
}

mat-sidenav-container mat-list mat-list-item
{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.pointer{
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
}


.inline-display {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}


.search-style {
    margin-top: 25px;
}

.addBtn {
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 6px;
    margin-top: 15px;
    margin-left: 50px;
}

.viewBtn {
    background-color:#2d9cdb;
    border-radius: 6px;
}
    
.tabs-style {
    margin-left: 35px;
    margin-right: 25px;
}


.citizens {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 80%;
    margin-left: 25px;
    margin-top: 25px;
}
  
.citizens td, .citizens th {
    padding: 8px;
}
  
.citizens tr:nth-child(even) {
    background-color: #e4e4e4;
}
  
.citizens th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
}

.example-container {
    overflow: auto;
    margin-left: 35px;
    margin-right: 35px;
    margin-top: 20px;
    margin-bottom: 85px;
}

th, td, button {
    font-family: 'Montserrat', sans-serif;
}

th {
    font-size: 12pt;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
}

table {
    width: 100%;
    font-family: "Poppins", sans-serif;
}


.display-end {
    display: flex;
    justify-content: flex-end;
}

.listprop {
    color:rgb(255, 255, 255); 
    background-color:#3b8bea;
    border-radius: 5px;
}