<div class="header">
    <mat-icon>pageview</mat-icon>
    <h2 mat-dialog-title>View Payment Record</h2>
</div>

<mat-divider [vertical]="false"></mat-divider>
<mat-dialog-content class="mat-typography">

<br>
    <div class="modalFields">
        <mat-list role="list">
            <mat-list-item class="fieldNamesno"role="listitem">Payment Number</mat-list-item>
            <mat-list-item class="fieldNames"role="listitem">First Name</mat-list-item>
            <mat-list-item class="fieldNames"role="listitem">Last Name</mat-list-item>
            <mat-list-item class="fieldNames"role="listitem">Middle Name</mat-list-item>
        </mat-list>


        <div class="inputs">
            <mat-form-field appearance="none">
            <input class="paymentInfo" matInput [(ngModel)]="pulledData.pt_id" disabled>
            </mat-form-field>
            <mat-form-field appearance="none">
            <input class="paymentInfo" matInput [(ngModel)]="pulledData.res_fname" disabled>
            </mat-form-field>
            <mat-form-field appearance="none">
            <input class="paymentInfo" matInput  [(ngModel)]="pulledData.res_lname" disabled>
            </mat-form-field>
            <mat-form-field appearance="none">
            <input class="paymentInfo" matInput  [(ngModel)]="pulledData.res_mname" disabled >
            </mat-form-field>
        </div>

        <mat-list role="list">
            <mat-list-item class="fieldNamesno"role="listitem">Payment For</mat-list-item>
            <mat-list-item class="fieldNames"role="listitem">Amount</mat-list-item>
            <mat-list-item class="fieldNames"role="listitem">Payment Receive</mat-list-item>
            <mat-list-item class="fieldNames"role="listitem">Date</mat-list-item>
        </mat-list>

        <div class="inputs2">
            <mat-form-field appearance="none">
                <input class="paymentInfo" matInput  [(ngModel)]="pulledData.pt_desc" disabled>
            </mat-form-field>
            <mat-form-field appearance="none">
                <input class="paymentInfo" matInput  [(ngModel)]="pulledData.fld_amount" disabled>
            </mat-form-field>
            <mat-form-field appearance="none" *ngIf="pulledData.pt_isPayed === 1">
                <input class="paymentInfo" matInput   [(ngModel)]="pulledData.pt_money_recieved" disabled>
            </mat-form-field>
            <mat-form-field appearance="none" *ngIf="pulledData.pt_isPayed === 0">
                <input class="paymentInfo" matInput  value="Unpaid" disabled>
            </mat-form-field>
            <mat-form-field appearance="none">
                <textarea class="paymentInfo" matInput [(ngModel)]="pulledData.pt_date" disabled rows="1"></textarea>
            </mat-form-field>
        </div>

    </div>


</mat-dialog-content>

<mat-dialog-actions align="end">
  <button class="modalBtn" mat-raised-button mat-dialog-close>Cancel</button>
  <button (click)="updateData(pulledData.pt_id)" class="modalBtn1" mat-raised-button mat-dialog-close>Edit</button>
</mat-dialog-actions>
