<mat-sidenav-container class="main-container"> 
    <mat-sidenav #sidebarRef opened mode='side' [(opened)]='isSidebarOpen'> 
        <img class="user-profile" src="/assets/logo.png">
        <mat-divider [vertical]="false"></mat-divider>
        <h3>ADMIN</h3>
        <mat-list class="pointer">
            <mat-list-item class="listprop" (click)="sidebarRef.toggle()"><mat-icon style="padding-right: 5px;">dashboard</mat-icon> Dashboard </mat-list-item>
            <mat-list-item  style="color:#404040" (click)="openNav1()"> <mat-icon style="padding-right: 5px;">library_add</mat-icon>Barangay Payments </mat-list-item>
            <mat-list-item  style="color:#404040"(click)="openNav2()"><mat-icon style="padding-right: 5px;">payments</mat-icon> Barangay Expenses </mat-list-item><br>
            <mat-divider></mat-divider>
        </mat-list>
    </mat-sidenav>

  <mat-sidenav-content>


  <mat-toolbar  style="color:rgb(255, 255, 255); background-color:#3B8BEB; padding-left: 30px;"><button mat-icon-button (click) ="sidebarRef.toggle()"><mat-icon style="margin-right: 50px;" >menu</mat-icon></button>Barangay Payment System
  <div class="spacer"></div>
  <a mat-button><img src="/assets/admin.png"></a>
  <a mat-button (click)="logout()"> <mat-icon>logout</mat-icon></a>
  </mat-toolbar>
  
  <div class="example-container">
  <!-- <p class="contenttitle">Dashboard</p>
  <mat-divider [vertical]="false" style="margin-right: 20px; margin-left: 20px;"></mat-divider> -->

  <div class="dashboardCard">
      <mat-card class="payment-card1">
        <mat-card-content ><br>
          <p class="numbers">2,500</p>
        </mat-card-content>
        <mat-card-content >
          <p class="title">Total Expenses</p>
          <div class="iconsDashboard">
            <img src="/assets/expense.png" class="img-card">
          </div>
        </mat-card-content>
        <mat-card-content >
          <p class="percent">-4% From Last Week</p>
        </mat-card-content>
      </mat-card>

      <mat-card class="payment-card2">
          <mat-card-content ><br>
            <p class="numbers">2,500</p>
          </mat-card-content>
          <mat-card-content >
            <p class="title">Total Receive</p>
            <div class="iconsDashboard">
              <img src="/assets/payment.png" class="img-card">
            </div>
          </mat-card-content>
          <mat-card-content >
            <p class="percent">-4% From Last Week</p>
          </mat-card-content>
      </mat-card>

      <mat-card class="payment-card3">
          <mat-card-content ><br>
            <p class="numbers">22,500</p>
          </mat-card-content>
          <mat-card-content >
            <p class="title">Total Residents</p>
            <div class="iconsDashboard">
              <img src="/assets/resident.png" class="img-card">
            </div>
          </mat-card-content>
          <mat-card-content >
            <p class="percent">-12% From Last Week</p>
          </mat-card-content>
      </mat-card>

      <mat-card class="payment-card4">
          <mat-card-content ><br>
            <p class="numbers">101</p>
          </mat-card-content>
          <mat-card-content >
            <p class="title">Total Activities</p>
            <div class="iconsDashboard">
              <img src="/assets/activity.png" class="img-card">
            </div>
          </mat-card-content>
          <mat-card-content >
            <p class="percent">-6% From Last Week</p>
          </mat-card-content>
      </mat-card>
  </div>

  <div class="dashboardSecondCard">
    <mat-card class="chart-card">
      <mat-card-title style="margin-bottom: 25px;" class="titlecases">Monthly Expenses and Received Graph</mat-card-title>
        <div class="chart-wrapper">
            <canvas baseChart
                    [datasets]="barChartData"
                    [labels]="barChartLabels"
                    [options]="barChartOptions"
                    [legend]="barChartLegend"
                    [chartType]="barChartType">
            </canvas>
        </div>
    </mat-card>

    <mat-card class="chart-card">
      <mat-card-title class="titlecases">Total Cases</mat-card-title>
      <div class="sidecard">
        <mat-card class="sideprop1">
          <p class="numbers">82</p>
            <div class="iconsCases">
              <img src="/assets/settle.png" class="img-card">
            </div>
            <p>Settled Case</p>
        </mat-card>
        <mat-card class="sideprop2">
            <p class="numbers">21</p>
            <div class="iconsCases">
              <img src="/assets/schedule.png" class="img-card">
            </div>
            <p>Scheduled Case</p>
        </mat-card>
    </div>
    </mat-card>
  </div> 
</div>
   
</mat-sidenav-content>
</mat-sidenav-container>
