@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');
  mat-dialog-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 30px;
  }
  
  h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
  }

  p {
    padding-top: 15px;
  }

  mat-dialog-button {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
  }
  
  .modalBtn {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
  }
  
  .modalFields {
    display: flex;
    margin-top: 10px;
  }
  
  .inputs {
    width: 300px;
    border-top-width: 0;
    margin-left: 15px;
    margin-right: 15px;
    font-family: 'Montserrat', sans-serif;
  }
  
  mat-form-field {
    height: 70px;
    width: 300px;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
  }
  
  mat-option{
    font-weight: 300px;
    font-family: 'Montserrat', sans-serif;
  }
  
  .fieldNames {
    margin-bottom: 23px;
    margin-top: 18px;
    font-family: 'Montserrat', sans-serif;
  }
  
  .fieldNamesno {
    margin-top: -10px;
    font-family: 'Montserrat', sans-serif;
  } 
  
  .paymentInfo {
    font-size: 16px;
  }
  
  .addProjBtn {
    font-family: 'Montserrat', sans-serif;
    background-color: rgba(0, 0, 0, 0.8);
    font-size: 16px;
  }

  .left {
    justify-content: flex-start;
  }

  .right {
    justify-content: flex-end;
  }