<div class="header">
    <mat-icon>add_box</mat-icon>
    <h2 mat-dialog-title>Add Expense Record</h2>
</div>

<mat-divider [vertical]="false"></mat-divider>
<mat-dialog-content class="mat-typography">

<br>
    <div class="modalFields">
        <mat-list role="list">
            <mat-list-item class="fieldNamesno"role="listitem">Last Name</mat-list-item>
            <mat-list-item class="fieldNames"role="listitem">First Name</mat-list-item>
            <mat-list-item class="fieldNames"role="listitem">Middle Name</mat-list-item>
        </mat-list>


        <div class="inputs">
            <mat-form-field appearance="outline">
                <input class="paymentInfo" matInput [(ngModel)]="expensesPayload.person_lname">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <input class="paymentInfo" matInput [(ngModel)]="expensesPayload.person_fname">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <input class="paymentInfo" matInput [(ngModel)]="expensesPayload.person_mname">
            </mat-form-field>
        </div>

        <mat-list role="list">
            <mat-list-item class="fieldNamesno"role="listitem">Expense For</mat-list-item>
            <mat-list-item class="fieldNames"role="listitem">Budget Fee</mat-list-item>
            <mat-list-item class="fieldNames"role="listitem">Purpose</mat-list-item>
        </mat-list>

        <div class="inputs2">
            <mat-form-field appearance="outline">
                <input class="paymentInfo" matInput [(ngModel)]="expensesPayload.exp_for">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <input class="paymentInfo" matInput [(ngModel)]="expensesPayload.exp_money_release">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <textarea class="paymentInfo" matInput rows="2" [(ngModel)]="expensesPayload.exp_desc"></textarea>
            </mat-form-field>
        </div>

    </div>


</mat-dialog-content>

<mat-dialog-actions align="end">
  <button class="modalBtn" mat-raised-button mat-dialog-close>Cancel</button>
  <button class="modalBtn1" mat-raised-button mat-dialog-close (click)="newExpenses()">Add</button>
</mat-dialog-actions>
