<div class="header">
    <mat-icon>pageview</mat-icon>
    <h2 mat-dialog-title>View Expense Record</h2>
</div>

<mat-divider [vertical]="false"></mat-divider>
<mat-dialog-content class="mat-typography">

<br>
    <div class="modalFields">
        <mat-list role="list">
            <!-- <mat-list-item class="fieldNamesno"role="listitem">Expense Number</mat-list-item> -->
            <mat-list-item class="fieldNamesno"role="listitem">First Name</mat-list-item>
            <mat-list-item class="fieldNames"role="listitem">Last Name</mat-list-item>
            <mat-list-item class="fieldNames"role="listitem">Middle Name</mat-list-item>
        </mat-list>


        <div class="inputs">
            <mat-form-field appearance="none">
                <input class="paymentInfo" matInput [(ngModel)]="expensesPayload.person_fname" disabled>
            </mat-form-field>
            <mat-form-field appearance="none">
                <input class="paymentInfo" matInput [(ngModel)]="expensesPayload.person_lname" disabled>
            </mat-form-field>
            <mat-form-field appearance="none">
                <input class="paymentInfo" matInput [(ngModel)]="expensesPayload.person_mname" disabled>
            </mat-form-field>
        </div>

        <mat-list role="list">
            <mat-list-item class="fieldNamesno"role="listitem">Expense For</mat-list-item>
            <mat-list-item class="fieldNames"role="listitem">Budget Fee</mat-list-item>
            <mat-list-item class="fieldNames"role="listitem">Purpose</mat-list-item>
        </mat-list>

        <div class="inputs2">
            <mat-form-field appearance="none">
                <input class="paymentInfo" matInput [(ngModel)]="expensesPayload.exp_for" disabled>
            </mat-form-field>
            <mat-form-field appearance="none">
                <input class="paymentInfo" matInput [(ngModel)]="expensesPayload.exp_money_release" disabled>
                <span matPrefix>Php&nbsp;</span>
                <span matSuffix>.00</span>
            </mat-form-field>
            <mat-form-field appearance="none">
                <textarea class="paymentInfo" matInput rows="5" [(ngModel)]="expensesPayload.exp_desc" disabled></textarea>
            </mat-form-field>
        </div>

    </div>


</mat-dialog-content>

<mat-dialog-actions align="end">
  <button class="modalBtn" mat-raised-button mat-dialog-close>Cancel</button>
  <!-- <button (click)="updateExpenses()" class="modalBtn1" mat-raised-button mat-dialog-close>Edit</button> -->
</mat-dialog-actions>
